.ffmi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.fat::after {
    font-weight: 500;
    color: var(--main-color);
    font-size: 14px;
    position: absolute;
    bottom: 50%;
    right: 30px;
    content: '%';
    transform: translate3d(0, 50%, 0px);
}

.ffmi__input__container {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.ffmi__input__container__info3 {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    animation: ease-out slideRight 1.5s 3s forwards;
}

.bar__main__container {
    position: relative;
    width: 90%;
    opacity: 0;
    animation: opacityIn .5s forwards;
}

.bar__container__indicator__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: -120px;
    transform: translate3d(-50%, 0, 0);
    transition: left 1s ease-out;
    opacity: 0;
    animation: opacityIn 3s 3.5s forwards;
}

.bar__container__indicator__container>span {
    font-weight: 300;
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.bar__container__indicator {
    width: 40px;
    height: 40px;
}

.bar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
    overflow-x: clip;
}

.bar__item {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.bar__item>span {
    position: absolute;
    bottom: -40px;
}

.bar__item:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bar__item:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.4);
}

.bar__item:nth-child(3) {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.4), rgba(255, 186, 0, 0.4));
}

.bar__item:nth-child(4) {
    background: linear-gradient(to right, rgba(255, 186, 0, 0.4), rgba(254, 254, 0, 0.4));
}

.bar__item:nth-child(5) {
    background: linear-gradient(to right, rgba(254, 254, 0, 0.4), rgba(151, 223, 24, 0.4));
}

.bar__item:nth-child(6) {
    background: linear-gradient(to right, rgba(151, 223, 24, 0.4), rgba(77, 202, 40, 0.4));
}

.bar__item:nth-child(7) {
    background: linear-gradient(to right, rgba(77, 202, 40, 0.4), rgba(4, 181, 56, .4));
}

.bar__item:nth-child(8) {
    background: linear-gradient(to right, rgba(4, 181, 56, .4), rgba(24, 166, 110, .4));
}

.bar__item:nth-child(9) {
    background: linear-gradient(to right, rgba(24, 166, 110, .4), rgba(48, 151, 165, .4));
}

.bar__item:nth-child(10) {
    background: linear-gradient(to right, rgba(48, 151, 165, .4), rgba(71, 136, 218, .4));
}

.bar__item:nth-child(11) {
    background: linear-gradient(to right, rgba(71, 136, 218, .4), rgba(91, 112, 241, .4));
}

.bar__item:nth-child(12) {
    background: linear-gradient(to right, rgba(91, 112, 241, .4), rgba(105, 76, 223, .4));
}

.bar__item:nth-child(13) {
    background: linear-gradient(to right, rgba(105, 76, 223, .4), rgba(114, 53, 211, .4));
}

.bar__item:nth-child(14) {
    background: linear-gradient(to right, rgba(114, 53, 211, .4), rgba(114, 53, 211, .4));
}

.bar__item:nth-child(15) {
    background: linear-gradient(to right, rgba(114, 53, 211, .4), rgba(16, 0, 43, 0.4));
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bar__item:nth-child(3)::before {
    content: 'Normal';
    opacity: 0;
    animation: opacityIn 1s 2s forwards;
}

.bar__item:nth-child(5)::before {
    content: 'Sportif';
    opacity: 0;
    animation: opacityIn 1s 1.5s forwards;
}

.bar__item:nth-child(7)::before {
    content: 'Musclé';
    opacity: 0;
    animation: opacityIn 1s 1s forwards;
}

.bar__item:nth-child(9)::before {
    content: 'Golden';
    opacity: 0;
    animation: opacityIn 1s 1s forwards;
}

.bar__item:nth-child(11)::before {
    content: 'Douteux';
    opacity: 0;
    animation: opacityIn 1s 1.5s forwards;
}

.bar__item:nth-child(14)::before {
    content: 'Dopé';
    opacity: 0;
    animation: opacityIn 1s 2s forwards;
}

.bar__item::before {
    text-align: center;
    width: 100%;
    color: var(--blue-dark);
    font-weight: 500;
}

.bar__container::before, .bar__container::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background-color: rgb(237, 237, 239);
    z-index: 1;
}

.bar__container::before {
    left: 0px;
    animation: slideOutToLeft 2s .5s ease-in forwards;
}

.bar__container::after {
    right: 0px;
    animation: slideOutToRight 2s .5s ease-in forwards;
}

.bar__item>span {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
    animation: slideRight 1s 2.2s forwards;
}

@keyframes slideOutToLeft {
    to {
        transform: translate3d(-110%, 0, 0);
    }
}

@keyframes slideOutToRight {
    to {
        transform: translate3d(110%, 0, 0);
    }
}

@media (max-width: 600px) {
    .bar__main__container  {
        width: 97%;
    }
    .ffmi__input__container {
        width: 90%;
    }
    .bar__item::before {
        font-size: 14px;
        content: '';
    }

    .bar__item:nth-child(2) {
        display: none;
    }
    .bar__item:nth-child(even)>span {
        visibility: hidden;
    }
    .bar__item:first-child, .bar__item:last-child {
        display: none;
    }
    .bar__item:nth-child(14) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .bar__item:nth-child(3) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

#root {
    width: 100%;
}