.img__container {
    display: flex;
    opacity: .7;
    height: 100%;
    width: 100%;
}

.main__container {
    opacity: 0;
    height: 90%;
    background-color: var(--white-alpha-40);
    padding: 20px;
    border-radius: 20px;
    animation: opacityIn .5s forwards;
    transition: transform 1s ease-in-out;
}

.selected {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.img__container__img {
    z-index: 1;
    opacity: 0;
    animation: opacityIn 2s .5s forwards ease-in;
}

.img__container__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 5px;
    width: 140px;
    margin-left: -80px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    transform: translate3d(0, 100%, 0);
    transition: transform 1s linear;
    position: absolute;
    left: 0;
    bottom: -1px;
    animation: slideIn 1s 2s forwards;
    z-index: -1;
}

.active__card {
    transform: translate3d(0, -20px, 0);
}

.img__container__info__title {
    opacity: 0;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    animation: opacityIn 1s 2.3s forwards;
}

.img__container__info__desc {
    opacity: 0;
    padding-right: 2px;
    font-size: 25px;
    animation: opacityIn 1s 2s forwards;
}

.line {
    border-top: 2px solid white;
}

.img__container__info__desc:last-child {
    margin-bottom: 20px;
}

@keyframes opacityIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width: 1500px) {
    .app {
        height: 98vh !important;
    }
    .img__container__info__title, .img__container__info__desc {
        font-size: 16px;
    }
    .img__container {
        width: inherit !important;
        height: 200px;
        justify-content: center;
    }
    .imc__img {
        flex-wrap: wrap;
    }
    .main__container {
        margin-top: 10px;
        height: inherit;
        width: 146px;
        padding: 10px 0px;
        transition: background-color 1s ease-in-out;
    }
    .app {
        padding: 1px;
    }
    body {
        padding: 1vh;
    }
    .img__container__info {
        width: 110px;
        margin-left: -60px;
    }
    .active__card {
        background-color: rgba(0, 0, 0, .2);
        transform: translate3d(0, 0, 0);
    }
    .imc__info__score {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .imc__info {
        justify-content: space-between;
        padding: 0px 10px;
    }
    .imc {
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .imc__navigate__back {
        margin-left: 5px;
    }
    .imc__title {
        font-size: 25px;
    }
    .img__container__info__title, .img__container__info__desc {
        font-size: 13px;
    }
    .img__container {
        height: 150px;
    }
    .imc__input__container {
        width: 129px;
    }
}

@media (max-width: 350px) {
    .img__container {
        height: 134px;
    }
    .img__container__info__title, .img__container__info__desc {
        font-size: 10px;
    }
    .img__container__info {
        width: 75px;
        margin-left: -36px;
    }
    .main__container {
        width: 91px;
    }
    .imc__input__container {
        width: 110px;
    }
}